<!DOCTYPE html>
<html>
    <head>
    <title>Help</title>
        <link rel="icon" href="/image/weather-icon.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
</head>
    <body>
        <div class="main-content">
        {{>headers}}
        {{!-- <h1>{{help}}:</h1> --}}
        <a href="/"><button>BUTTON</button></a>

        </div>
      
        {{>footers}}
        <script type="text/javascript" src="/javascript/app.js"></script>
    </body>
</html>